# More info: https://docs.docker.com/engine/reference/builder/#dockerignore-file
# Ignore build and test binaries.
.git/
bin/
testbin/
.idea/
.kustomize/
.github/
hack/
doc/
assets/
examples/
helm-charts/
sidecar/
test/
config/